:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: gba(255,255,255,0.5); 
  --bg-secondary: #04047200;
  --transition-speed: 600ms;
}

body {

  
  margin: 0;
  padding: 0;
}




main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}






.link-text {
  display: none;
  margin-left: 1rem;
}








/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

 

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

 


}




.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

